.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* APP main */
.app-main {
  position: relative;
}
/* HEADER */
.loggedout-header-main {
  background-color: blue;
  display: flex;
  justify-content: space-between;
}
.loggedin-header-text-section p {
  margin: 0;
  margin-top: 2px;
  font-size: 15px;
}
.loggedout-header-img {
  height: 50px;
  position: relative;
  top: 15px;
  right: 50px;
}

.loggedout-header-text-section {
  padding: 15px 15px 15px 20px;
}

.loggedout-header-text-section h4, .loggedout-header-text-section h5{
  margin: 0;
  margin-bottom: 8px;
  color: #fff;
  font-size: 18px;
}
.loggedout-header-text-section h5{
  margin: 0;
  margin-bottom: 5px;
  color: #fff;
  font-size: 16px;
}
.loggedin-header-main {
  padding: 28px;
    border-bottom: 3px solid #c5c5c5;
}
.loggedin-header-main h4 {
  margin: 0;
}
/* FOOTER */
.footer-main{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #c5c5c5;
  padding: 10px;
  position: absolute;
  bottom: 0;
}
.footer-digio-logo {
  height: 60px;
  width: 60px;
}
.footer-logo-section {
  display: flex;
  padding-left: 15px;
}
.footer-powered-by-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
}
.footer-powered-by-section p {
  margin: 0;
  font-size: 16px;
}
.footer-powered-by-section a {
  text-decoration: none;
}
.footer-steps-section {
  padding-right: 15px;
}

/* LOGIN CONTAINER */
.login-container-main, 
.login-social-section,
.login-confirm-policy-section,
.login-with-email-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-login-button {
  background-color: red;
  padding: 15px;
  outline: none;
  border: none;
  width: 25%;
  color: #fff;
  font-size: 19px;
  border-radius: 6px;
  cursor: pointer;
}
.login-continue-button {
  background-color: blue;
  padding: 15px;
  outline: none;
  border: none;
  width: 80%;
  color: #fff;
  font-size: 19px;
  border-radius: 6px;
  cursor: pointer;
}
.login-continue-button.disabled{
  background-color: #c5c5c5;
  color: #000;
}
.login-confirm-policy-section p {
  width: 80%;
  text-align: center;
}
.login-with-email-section h5 {
  margin: 8px;
  position: relative;
  left: -20%;
}
.login-with-email-section input {
  width: 75%;
  padding: 10px;
}
.section-differentiator {
  margin: 25px 0;
}
.section-differentiator .text {
  text-align: center;
}
.section-differentiator .text::after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #c5c5c5; 
  margin: auto; 
}

/* Adhar section */
.adhar-details-section {
  background-color: #f2f2f2;
  padding: 25px
}
.adhar-img{
  height: 50px;
  margin-left: 20px;
}
.adhar-input-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.adhar-input-verify-section {
  margin-left: 10px;
  width: 83%;
  display: flex;
}
.adhar-input-verify-section input, .adhar-otp-section input {
  padding: 7px;
  border: 1px solid darkgrey;
  width: 65%;
}
.adhar-otp-section input {
  padding: 7px;
  border: 1px solid darkgrey;
  width: 30%;
}
.adhar-input-verify-section button, .adhar-otp-section button {
  padding: 6px;
  margin-left: 8px;

}
.agreement-section {
  display: flex;
  margin: 15px;
}
.agreement-section p {
  margin: 0;
  font-size: 14px;
  margin-left: 4px;
}
.agreement-section p span{
  text-decoration: underline;
}
.checkbox-item {
  border: 1px solid grey;
  color: #fff;
}
.adhar-otp-section {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.adhar-signin-process-section {
  padding: 15px;
  background-color: greenyellow;
  font-size: 12px;
}
.adhar-signin-process-section div {
  display: flex;
    justify-content: center;
    align-items: center;
}
.adhar-signin-process-section div h4 {
  margin-left: 5px;
  font-size: 14px;
  color:blue;
  font-weight: 400;
}
.static-otp-button {
  background-color: blue;
  padding: 10px;
  color: #fff;
  outline: none;
  border: none;
}
.static-button-div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.document-div {
  width: 100%;
}
.document-div img {
  width: 100%;
}
.document-content-div {
  position: relative;
}
.overlay{
  background: #000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0.5
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
